.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #203a43, #2c5364);
}

.home-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
}

.home-card h1 {
  margin-bottom: 10px;
}

.home-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.home-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #2c5364;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.home-buttons button:hover {
  background-color: #203a43;
}
